<div class="flex mt-4 flex-col md:flex-row items-start w-full">
  <%= form_with url: admin_products_path, method: :get, class: 'flex' do |form| %>
    <%= form.text_field :query, value: query, placeholder: 'Search', class: 'rounded border-gray-500 text-gray-800' %>
    <%= form.submit 'Submit', class: 'cursor-pointer bg-gray-500 ml-2 hover:bg-gray-600 text-white py-2 px-4 rounded' %>
  <% end %>
  <%= form_with url: admin_products_path, method: :get, class: 'flex' do |form| %>
    <%= form.submit 'Clear', class: 'cursor-pointer bg-gray-500 ml-0 md:ml-2 mt-2 md:mt-0 hover:bg-gray-600 text-white 
                                    py-2 px-4 rounded' %>
  <% end %>
</div>
