<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="flex">
      <nav class="flex">
        <div class="w-64 p-4 h-screen bg-gray-600 sticky top-0">
          <div class="flex">
            <%= image_tag 'logo.png', class: 'w-16 mr-2', width: '100px', height: '100px' %>
            <h1 class="text-md py-2 text-white font-bold md-block">
              Ecommerce Admin
            </h1>            
          </div>
          <ul class="flex flex-col text-gray-50">
            <li>
              <%= link_to admin_index_path, class: 'block px-4 py-2 hover:rouded hover:bg-gray-700' do %>
                <%= icon 'fa-solid', 'gauge-high', class: 'mr-2' %>
                <span class="md-inline-block">Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_index_path, class: 'block px-4 py-2 hover:rouded hover:bg-gray-700' do %>
                <%= icon 'fa-solid', 'cart-shopping', class: 'mr-2' %>
                <span class="md-inline-block">Product</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path, class: 'block px-4 py-2 hover:rouded hover:bg-gray-700' do %>
                <%= icon 'fa-solid', 'list', class: 'mr-2' %>
                <span class="md-inline-block">Categories</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_index_path, class: 'block px-4 py-2 hover:rouded hover:bg-gray-700' do %>
                <%= icon 'fa-solid', 'truck-fast', class: 'mr-2' %>
                <span class="md-inline-block">Orders</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="p-8 w-full">
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"
            id="notice">
            <%= notice %>
          </p>
        <% end %>
        <% if alert.present? %>
          <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block"
            id="alert">
            <%= alert %>
          </p>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
